{% extends "base.html" %} {% block content %} {% load static %}
<div class="w-full">
  <img
    class="w-full h-40 rounded-lg shadow-lg object-cover object-center"
    src="{% static 'quiz/imgs/index-1.jpg' %}"
    alt="Index page image"
  />
</div>
<h1 class="">This is my index page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam blanditiis
  sint eveniet, nulla voluptas eaque asperiores rerum porro consectetur a. Culpa
  totam delectus dolore numquam, vel beatae ipsam odio ab.
</p>
{% endblock %}
