<nav
  class="
    w-full
    h-full
    inline-flex
    items-center
    justify-between
    bg-gray-900
    px-20
    py-4
    text-white
  "
>
  <a class="font-bold" href="{% url 'index' %}">Quiz App</a>
  <div class="inline-flex items-center justify-end">
    <ul id="navbar-ul" class="inline-flex items-center divide-x-2 divide-opacity-50 divide-gray-500">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a href="{% url 'quiz_index' %}" class="nav-link">Quizzes</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'quiz_progress' %}" class="nav-link">Progress</a>
      </li>
       <li class="nav-item">
        <a href="{% url 'blog-home' %}" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'profile' %}" class="nav-link">Profile</a>
      </li>
      {% endif %}
    </ul>
    <ul class="inline-flex items-center px-4">
      {% if user.is_authenticated %}
      <li class="nav-signout">
        <a class="text-white font-medium" href="{% url 'logout' %}">logout</a>
      </li>
      {% else %}
      <li class="nav-login">
        <a class="text-white font-medium" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<style></style>
