 {% load static %}
 <article
      class="post-article"
    >
    {% comment %} {{ post.author.profile.image.url }} {% endcomment %}
      <img
        class="rounded-full w-16 h-16"
        src="{% static 'blog/img/user.jpg' %}"
      />
      <div class="flex flex-col gap-y-1">
        <div class="flex items-center gap-x-4">
          <a
            class="link"
            href="{% url 'user-posts' post.author.username %}"
            >{{ post.author }}</a
          >
          <small class="text-gray-500"
            >{{ post.date_posted|date:"F d, Y" }}</small
          >
        </div>
        <hr class="my-2" />
        <h2>
          <a class="font-semibold" href="{% url 'post-detail' post.id %}"
            >{{ post.title }}</a
          >
        </h2>
        <p>{{ post.content }}</p>
      </div>
    </article>